body {
  font-family: 'Monda', sans-serif;
}

.text {
  padding-left: 5%;
}

#navbar {
  font-family: 'Monda', sans-serif;
}

h1 {
  padding-bottom: 2%;
}

table.center {
  width:70%;
  margin-left:auto;
  margin-right:auto;
}

table, th, td {
  border: 1px solid #626869;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}
