<!DOCTYPE html>
<html lang="en-US">
    <head>
      <meta charset="utf-8">
        <title>Leaderboard</title>
        {% load static %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Cousine|Monda" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'game/css/leaderboard.css' %}" />
    </head>
    <body>
        {% include "game/navigation_bar.html" %}
        <h1>Leaderboard</h1>
        <table class="center">
          <tr>
            <th>USERNAME</th>
            <th>Cure Rate</th>
            <th>Total Matches Played</th>
          </tr>
          {% for i, j, k in ranking %}
          <tr>
            <td>{{ i }}</td>
            <td>{{ j }}%</td>
            <td>{{ k }}</td>
          </tr>
          {% endfor %}
        </table>
        <br>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
