<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>


h1 {text-align:center;
}
table {
    width:100%;
}
table, th, td {
    border: 1px solid red;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

</style>
</head>
<body>
<h1> Augmented Leaders </h1>
<table>
  <tr>
    <th>USERNAME</th>
    <th>CURE RATE</th>
  </tr>
  <tr>
    <td>Jordon</td>
    <td>1000</td>
  </tr>
  <tr>
    <td>Smith</td>
    <td>750</td>
  </tr>
  <tr>
    <td>Josh</td>
    <td>500</td>
  </tr>
</table>
<br>

</body>
</html>
