<!DOCTYPE html>
<html>
	<head>
		<title>Play</title>
		<meta name="viewport" content="initial-scale=1.0">
		<meta charset="utf-8">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'game/css/play.css' %}" />
	</head>
	<body>
        <div id="navigationBar">
            {% include "game/navigation_bar.html" %}
        </div>
        <div id="textArea">
            <div id="leftSide">
                <h1 id="gameTitle">Fight the Infection</h1>
                <div id="generalButtons">
                    <input id="fightInfectionButton" type="button" value="Fight Infection!">
                    <input id="centerMapButton" type="button" value="Center Map">
                    <input id="toggleMapButton" type="button" value="Toggle Map">
                </div>
    			<div id="userSelection">
    				<button id="rockButton" class="RPSbutton" onclick='playGame("rock")'>Rock</button>
    				<button id="paperButton" class="RPSbutton" onclick='playGame("paper")'>Paper</button>
    				<button id="scissorsButton" class="RPSbutton" onclick='playGame("scissors")'>Scissors</button>
    			</div>
            </div>
            <div id="rightSide">
                <div id="infoWindow">
                    <p>Information Window</p>
                </div>
            </div>
		</div>
		<div id="map">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7lpJkNjlPd3Cl6UJAr7nAyM1U0eMTH6I&callback=initMap"></script>
        <script src="{% static 'game/js/play.js' %}"></script>
        <script src="{% static 'game/js/rockpaperscissor.js' %}"></script>
	</body>
</html>
