<!DOCTYPE html>
<html>
	<head>
		<title>Fight the Infection!</title>
		<meta name="viewport" content="initial-scale=1.0">
		<meta charset="utf-8">

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
		{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'game/css/play.css' %}" />
	</head>
	<body>
		<div id="navigationBar">{% include "game/navigation_bar.html" %}</div>
		<h1 id="gameTitle">Fight the Infection</h1>
		<div id="textArea">
			<div id="leftSide">
                <p class="titles">
                    Zone: <span class="info" id="zoneText"></span>
                </p>
				<p class="titles">
					Subzone: <span class="info" id="subzoneText"></span>
				</p>
				<p class="titles" id="GlobalInfectionRate">
					Zone Infection Rate: <span class="info" id="global"></span>
				</p>
				<p class="titles" id="LocalInfectionRate">
					Subzone Infection Rate: <span class="info" id="local"></span>
				</p>
				<p class="titles" id="numAntidotesText">Number of antidotes: {{ antidotes }}</p>
				<div class="buttons" id="userSelection">
					{% csrf_token %}
					<button id="rockButton" class="RPSButton">Quarantine</button>
					<button id="paperButton" class="RPSButton">Cure</button>
					<button id="scissorsButton" class="RPSButton">Rescue</button>
                    {% if user.is_authenticated %}
                    <button id="useAntidoteButton">Use Antidote</button>
                    <button id="getAntidoteButton">Get Antidote</button>
                    {% endif %}
				</div><br>
				<div class="buttons" id="generalButtons">
					<input id="checkLocationButton" type="button" value="Check Location">
					<input id="centerMapButton" type="button" value="Center Map">
					<input id="toggleMapButton" type="button" value="Toggle Map">
                    <input id="helpButton" type="button" value="Help">
                    <input id="clearInfoWindowButton" type="button" value="Clear Info Window">
				</div>
			</div>
            <div id="rightSide">
                <div id="infoWindow"><p>Information Window</p></div>
            </div>
		</div>
		<div id="map"></div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="{% static 'game/js/play.js' %}"></script>
		<script src="{% static 'game/js/rockpaperscissor.js' %}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7lpJkNjlPd3Cl6UJAr7nAyM1U0eMTH6I&callback=initMap"></script>
	</body>
</html>
